html,
body,
* {
    margin: 0px;
    padding: 0px;
}


#contentBody {
        width: 100vw;
        height: 100vh;
        background: rgb(36, 0, 70);
        background: linear-gradient(180deg,
                rgba(36, 0, 70, 1) 0%,
                rgba(11, 19, 43, 1) 100%);
        box-shadow: inset -1px 0px 14px 0px rgb(248 255 9 / 30%);
}
.content {
    display: none;
    z-index: 1;
    position: relative;
}

body.blocked {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    overflow: hidden;
}

body.blocked::before {
    content: "Por favor, use o dispositivo na horizontal.";
    font-size: 1.5rem;
    text-align: center;
    color: #333;
}

#Stars {
    position: absolute;
    width: 100%;
    /* Ocupa toda a largura */
    height: 100%;
    /* Ocupa toda a altura */
    overflow: hidden;
    /* Garante que estrelas não escapem */
    top: 0;
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: white;
}
